$base-color: #3369f3;
$shadow-color: #e7e7e7;

.login__container {
  width: 340px;
  margin: 7% auto;
  padding: 50px 30px 30px;
  box-shadow: 0 2px 10px 2px $shadow-color, 0 -2px 10px 0 $shadow-color;
  border-radius: 12px;
}

.login__wrapper {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
  }
}

.login__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  button {
    outline: none;
    border: none;
    padding: 12px 0;
    border-radius: 12px;
    background-color: $base-color;
    transition: 200ms;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background: darken($base-color, 5%);
  }
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 154px;

  .top__text {
    font-size: 16px;
    margin-bottom: 2px;
    transform: translateY(21px);
    pointer-events: none;
    color: #999999;
    transition: 150ms;
    padding-left: 4px;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $base-color;
    outline: none;
    font-size: 16px;
  }

  .bottom__text {
    opacity: 0;
    visibility: hidden;
  }
}

.register__link {
  margin-top: 14px;
  text-align: center;

  a {
    font-size: 14px;
    text-decoration: none;
    transition: 200ms;
    color: $base-color;
    &:hover {
      color: darken($base-color, 15%);
    }
  }
}
